.b-wrapper {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: calc(1240px + 24px*2);
  padding: 0 24px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  height: 40px;
  font-family: $fontNormal;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #747474;
  background-color: transparent;
  border: none;
  padding: 15px 20px;
  text-transform: uppercase;
  cursor: pointer;
;
}

.btn--submit {
  border-radius: 20px;
  background-color: $yellow;
}

.skrollable {
  /*
   * First-level skrollables are positioned relative to window
   */
  position:fixed;

  /*
   * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
   */
  z-index:100;
}

.skrollr-mobile .skrollable {
  /*
      May cause issues on Android default browser (see #331 on GitHub).
  */
  position:absolute;
}

.skrollable .skrollable {
  /*
   * Second-level skrollables are positioned relative their parent skrollable
   */
  position:absolute;
}

.skrollable .skrollable .skrollable {
  /*
   * Third-level (and below) skrollables are positioned static
   */
  position:static;
}

.whereami{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 50px;
  background: rgba(0,0,0,0.7);
  color: #FFF;
  text-align: center;
  font-size: 40px;
  z-index: 10000;
}