

.b-grid {
  width: 100%;
  margin-bottom: 20px;
}

.b-grid__row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  z-index: 10;
}

.b-grid__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:first-child {
    width: grid-width(5);
  }

  &:last-child {
    width: grid-width(7);
  }

  .b-grid__card {
    width: 100%;
    height: 100%;
  }


  //.b-grid__card--5 {
  //  width: calc(((100% / 5) * 5) - 10px);
  //}
  //
  //.b-grid__card--7 {
  //  width: calc(((100% / 7) * 7) - 10px);
  //}
}

.b-grid__single {
    margin-bottom: 124px;
}

.b-grid__single-slider {
  position: relative;
  padding-bottom: 40%;
  width: 100%;
}

.b-grid__card {
  margin-bottom: 20px;
}

.b-grid__card--5 {
  width: grid-width(5);
}

.b-grid__card--7 {
  width: grid-width(7);
}

.b-grid__row {

}
.b-grid__row--animation {
  z-index: 5;

  & + .b-grid__row {

  }
}

.b-grid__row--no-bottom {
  .b-grid__column {
    a {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  & > a {
    margin-bottom: 0;
  }
}

.b-grid--gallery {
  .card {
    img {
      max-height: 854px;
    }
  }
  .card__info {
    padding: 22px 20px;

    h4 {
      font-family: $fontNormal;
      font-size: 24px;
      font-weight: normal;
      line-height: 1;
    }
  }
}

.b-grid--catalog {

  .card__wrap {
    padding-top: 81px;
    padding-bottom: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
  }

  .card__bg {
    top: auto;
    right: 24px;
    bottom: 24px;
    align-self: flex-end;
  }
  .card__bg---icon-1 {
    height: 212px;
  }
}

.b-grid__single--fullpage {
  .b-single-card {
    justify-content: center;
  }
  .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
  }
  .b-single-card__content {
    right: auto;
    left: 24px;
  }
}