.single-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .slick-arrow {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 0;
    background-color: transparent;
    border: none;
    z-index: 20;
    padding: 0;
    cursor: pointer;
    margin: auto;
  }

  .slick-prev {
    left: 40px;
    right: auto;
    @include svg-i-arrow-left
  }

  .slick-next {
    right: 40px;
    left: auto;
    transform: rotate(180deg);
    @include svg-i-arrow-left
  }
}

.single-slider__item {
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.single-slider__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 32px;
  margin: 0 auto;

  h2, p {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  h2 {
    font-family: $fontBold;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.33;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  p {
    max-width: 460px;
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    margin: 0 auto;
  }
}