


footer.b-footer
    .container
        .b-footer__top
            a(href='/').b-footer__logo
            .b-footer__list
                .b-footer__column
                    .b-footer__address
                        p БЕЛГОРОД
                        p Пугачёва ул., 5б.
                        p
                            a(href='mailto:dekorator-stone@mail.ru') dekorator-stone@mail.ru
                    .b-footer__address
                        p КРАСНОДАР
                        p ул.Бабушкина, 289.
                        p
                            a(href='mailto:info@ceramicgroup-krd.ru') info@ceramicgroup-krd.ru
                .b-footer__column
                    .b-footer__address
                        p ВЛАДИВОСТОК
                        p Ильичева ул., 22а, оф. 4.
                        p
                            a(href='mailto:cgdv@ceramicgroup.ru') cgdv@ceramicgroup.ru
                    .b-footer__address
                        p курск
                        p 1-я Кожевенная ул., 31.
                        p
                            a(href='mailto:dekorator-kursk@mail.ru') dekorator-kursk@mail.ru
                .b-footer__column
                    .b-footer__address
                        p воронеж
                        p Донбасская ул., 16в.
                        p
                            a(href='mailto:dekorator-voronezh@mail.ru') dekorator-voronezh@mail.ru
                    .b-footer__address
                        p ТАМБОВ
                        p Мичуринская ул., 215.
                        p
                            a(href='mailto:info@klinkerstore.ru') info@klinkerstore.ru
                .b-footer__column
                    .b-footer__address
                        p Москва
                        p Дмитровское ш., 100 с. 2, оф. 2401. Твардовского ул., 12, корп. 1.
                        p
                            a(href='mailto:info@ceramicgroup.ru ') info@ceramicgroup.ru
                    .b-footer__address
                        p ЕКАТЕРИНБУРГ
                        p Сибирский тр, 12/1, оф. 202.
                        p
                            a(href='mailto:zyryanova@ceramicgroup.ru') zyryanova@ceramicgroup.ru
                    .b-footer__address
                        p тула
                        p Фридриха Энгельса ул., 143.
                        p
                            a(href='mailto:info@klinkerstudio.ru') info@klinkerstudio.ru
        .b-footer__middle
            .b-footer__list
                .b-footer__column
                    h4 Сервис
                    ul
                        li
                            a(href='') Выезд на объект
                        li
                            a(href='') Расчет материалов
                        li
                            a(href='') Резка кирпича
                        li
                            a(href='') Доставка
                        li
                            a(href='') Шеф-монтаж
                        li
                            a(href='') Обучение
                .b-footer__column
                    h4 О компании
                    ul
                        li
                            a(href='') Описание брендов
                        li
                            a(href='') История
                        li
                            a(href='') Аккредитация
                        li
                            a(href='') Дилерская сеть
                        li
                            a(href='') Офисы и экспозиции
                        li
                            a(href='') Преимущества
                        li
                            a(href='') Наши знаменитые клиенты
                        li
                            a(href='') Новым партнерам
                        li
                            a(href='') Реквизиты
                        li
                            a(href='') Контакты

                .b-footer__column
                    h4 Блог
                    ul
                        li
                            a(href='') Материал
                        li
                            a(href='') Объект
                        li
                            a(href='') Технология

                .b-footer__column
                    h4 Как купить
                    ul
                        li
                            a(href='') Оплата
                        li
                            a(href='') Гарантия производителя
                        li
                            a(href='') Оформление заказ
                        li
                            a(href='') Возврат
                        li
                            a(href='') Договор-оферта
                        li
                            a(href='') Скидки
        .b-footer__bottom
            .b-footer__copy 2005-2017 © ООО«ТД«Керамик Груп
            .b-footer__social
                a(href='/ds') facebook
                a(href='') Vkontakte
                a(href='') instagram
