.b-select-filter
    .container
        .b-select-filter__wrap
            .b-select-filter__item
                select
                    option(value="" disabled selected) Тип крепления
                    option(value="") Пример
                    option(value="") Пример
                    option(value="") Пример
            .b-select-filter__item
                select
                    option(value="" disabled selected) Применение
                    option(value="") Пример
                    option(value="") Пример
                    option(value="") Пример
            .b-select-filter__item
                select
                    option(value="" disabled selected) Коллекции
                    option(value="") Пример
                    option(value="") Пример
                    option(value="") Пример

            .b-select-filter__item
                select
                    option(value="" disabled selected) Цвета
                    option(value="") Пример
                    option(value="") Пример
                    option(value="") Пример

            .b-select-filter__item
                select
                    option(value="" disabled selected) Размеры (mm)
                    option(value="") Пример
                    option(value="") Пример
                    option(value="") Пример