.b-select-filter
    .container
        .b-select-filter__wrap
            .b-select-filter__item
                select
                    option Тип крепления
            .b-select-filter__item
                select
                    option Применение
            .b-select-filter__item
                select
                    option Коллекции
            .b-select-filter__item
                select
                    option Цвета
            .b-select-filter__item
                select
                    option Размеры (mm)