.b-slider-filter
    .container
        .b-slider-filter__wrap
            .b-slider-filter__list.js-top-slider-filter
                .b-slider-filter__item Плитка для стен и фасадов
                .b-slider-filter__item Напольная плитка и ступени
                .b-slider-filter__item Террасные плаcтины
                .b-slider-filter__item Тротуарная плитка
                .b-slider-filter__item Промышленная плитка
                .b-slider-filter__item Промышленная плитка