.b-subscribe
    .container
        .b-subscribe__wrap
            .b-subscribe__left
                h2 Подписывайтесь
                    br
                    | на рассылку
                p Подписывайтесь на нашу информационную рассылку, и первыми получайте актуальную информацию, свежие статьи, и конечно же скидки
            .b-subscribe__right
                form
                    label(for='_14')
                        input(id='_14' type='email' placeholder='E-mail')
                    button(type='submmit').btn.btn--submit Подписаться
