//.whereami
header.b-header
    .container
        a(href='/').b-header__logo
        .b-header__top
            ul.b-header__list
                li
                    a(href='/') О компании
                li
                    a(href='/') Как купить?
                li
                    a(href='/') Сервис
                li
                    a(href='/') Журнал
                li
                    a(href='/') Контакты

            a(href='').b-header__city Владивосток
            .b-header__divider
        .b-header__bottom
            .b-header__menu
                .b-header__item.b-header__item--active.b-header__item--arrow Каталог
                .b-header__item Готовые объекты
                .b-header__item Визуализации
                .b-header__item Прайсы
            a(href='tel:74959610053').b-header__phone +7 (495) 961-00-53
