.card {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 638px;
  }
}


.card__wrap {
  padding-left: 42px;
  padding-right: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.card__list {

  h3 {
    font-family: $fontBold;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #040404;
    margin-bottom: 22px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      position: relative;
      font-family: $fontNormal;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.29;
      letter-spacing: normal;
      text-align: left;
      color: #040404;
      padding-left: 22px;

      &:after {
        content: '';
        position: absolute;
        top: -4px;
        left: 0;
        bottom: 0;
        margin: auto;
        display: block;
        width: 8px;
        height: 8px;
        opacity: 0.56;
        border: solid 1px #000000;
        border-radius: 50%;
      }
    }
  }
}

.card__bg {
  position: absolute;
  top: 0;
  right: 54px;
  bottom: 0;
  margin: auto;

  background-size: cover;
  background-position: center center;
}

.card__info {
  position: absolute;
  bottom: 20px;
  padding: 14px 17px;
  background-color: rgba(0, 0, 0, .5);

  h4, p {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin: 0;
  }

  h4 {
    font-family: $fontBold;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
  }

  p {
    font-family: $fontNormal;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
  }

}

.card--catalog {
  background-color: $yellow;
}

.card--info-left {
  .card__info {
    left: 20px;
  }
}

.card--info-right {
  .card__info {
    right: 20px;
  }
}

.card--catalog-image {
 .card__wrap {
   position: absolute;
   top: 0;
   left: 0;
 }
  .card__list {
      h3, li {
        color: #ffffff;
      }

    li {
      &:after {
        border-color: #fff;
      }
    }
  }
}

.card__bg---icon-1 {
  width: 209px;
  height: 221px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon/i-card-catalog.png");
}

.card__bg---icon-2 {
  width: 174px;
  height: 191px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon/i-card-cmesi_chimia.png");
}