@font-face {font-family: 'LetoSans';src: url('./fonts/3607CF_0_0.eot');src: url('./fonts/3607CF_0_0.eot?#iefix') format('embedded-opentype'),url('./fonts/3607CF_0_0.woff2') format('woff2'),url('./fonts/3607CF_0_0.woff') format('woff'),url('./fonts/3607CF_0_0.ttf') format('truetype');}


@font-face {font-family: 'LetoSans-Bold';src: url('./fonts/3607CF_1_0.eot');src: url('./fonts/3607CF_1_0.eot?#iefix') format('embedded-opentype'),url('./fonts/3607CF_1_0.woff2') format('woff2'),url('./fonts/3607CF_1_0.woff') format('woff'),url('./fonts/3607CF_1_0.ttf') format('truetype');}


@font-face {font-family: 'LetoSans-Thin';src: url('./fonts/3607CF_2_0.eot');src: url('./fonts/3607CF_2_0.eot?#iefix') format('embedded-opentype'),url('./fonts/3607CF_2_0.woff2') format('woff2'),url('./fonts/3607CF_2_0.woff') format('woff'),url('./fonts/3607CF_2_0.ttf') format('truetype');}



